{% extends 'base.html.twig' %}

{% block body %}
<<<<<<< HEAD
    <h1>Votre Mot de passe a bien été modifié</h1>

    <h3>Un mail avec vos nouveaux identifiants a été envoyé à l'adresse mail suivant: {{ email }}</h3>
=======
    <hr>

    <a class="btn btn-primary middle" href="{{ url('homepage') }}">Retourner à l'accueil</a>



{% endblock %}