{% extends 'base.html.twig' %}

{% block body %}
<<<<<<< HEAD
    <h1>Votre Mot de passe a bien été modifié</h1>

=======
    <hr>

    <a class="btn btn-primary middle" href="{{ url('homepage') }}">Retourner à l'accueil</a>



{% endblock %}