{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/loginform.css">
{% endblock %}

{% block body %}

<div class="page">
        <div class="container">
          <div class="left">
            <div class="login l-small">Mot de passe modifié !</div>
            <div class="eula">
                <a href="{{ url('homepage') }}">Retourner à l'accueil</a>
            </div>
          </div>
          <div class="right">
            <div class="reset-logo-dt">
                Nouveau mot de passe envoyé à <span>{{ email }}</span>
            </div>
          </div>
        </div>
      </div>
      
{% endblock %}


{# {% extends 'base.html.twig' %}

{% block body %}
    <h1>Votre Mot de passe a bien été modifié</h1>

    <h3>Un mail avec vos nouveaux identifiants a été envoyé à l'adresse mail suivante: {{ email }}</h3>
    <hr>

    <a class="btn btn-primary middle" href="{{ url('homepage') }}">Retourner à l'accueil</a>



{% endblock %} #}