{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mot de passe changé avec succès</h1>

    <h3>Un mail avec vos nouveaux identifiants à été envoyé à l'adresse mail {{ email }}</h3>
    <hr>

    <a class="btn btn-primary middle" href="{{ url('homepage') }}">Retourner à l'accueil</a>



{% endblock %}