{% extends 'base.html.twig' %}

{% block body %}
    <h1>Votre inscription est bien enregistrée ! Un e-mail automatique vous a été envoyé.</h1>
    <hr>
    <a class="btn btn-primary" href="{{ path('login') }}">Connexion</a>


{% endblock %}