{% extends 'base.html.twig' %}

{% block body %}
    <h1>Yea !! tu as recue un mail de confirmation Datalents - Accueil !</h1>
    <hr>
    <a class="btn btn-primary" href="{{ path('login') }}">Connexion</a>


{% endblock %}