html, body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}
a {
    color: inherit;
}
a:hover {
    color: inherit;
    /* font-weight: bold; */
}

header {
    display: block;
    color: white;
    filter: grayscale(.5);
    background: linear-gradient(to right, #007991, #78ffd6);
}

body {
    /* background: url('/img/home.jpg') no-repeat top; */
    background-size: cover;
}

header ul {
    padding: 2rem 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

header ul li {
    padding: 0 1rem;
    list-style-type: none;
    flex-basis: 15%;
}

header ul li:first-child {
    flex-basis: 55%;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 200%;
    padding-left: 3rem;
}
header ul li:first-child img {
    width: 30px;
}

header hero {
    height: 300px;
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header hero img {
    width: 55%;
}

header div.split-hero {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 200px;
    margin: 0 3rem;
    text-align: center;
}

header div.split-hero button {
    border-radius: 12px;
    font-size: 120%;
    margin: 0 1rem;
    border: none;
    color: white;
    background: transparent;
    border: 1px solid white;
}
header div.split-hero button a {
    padding: 1rem 2rem;
    display: inline-block;
}
header div.split-hero button:first-of-type {
    background: white;
    color: #64a09f;
    border: 1px solid white;
}



main {
    background: white;
    padding: 20px 0;
    margin: 3rem;
}
main h2 {
    margin-bottom: 25px;
}

main section {
    margin-bottom: 2.5rem;
}
main button {
    background: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: .25rem 1rem;
}
main section:first-child {
    text-align: center;
}
main section:first-child p {
    max-width: 1000px;
    margin: auto;
}

main section.list-profile {
    display: flex;
    justify-content: space-between;
}
main section.list-profile article {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 1rem;
    margin: 0 1rem;
    text-align: center; 
    flex-grow: 1;
    flex-basis: 0;
}
main section.list-profile article:hover {
    box-shadow: 0 0 30px rgba(100,100,100,.25);
    border-radius: 5px;
}


main section.list-profile article img {
    border-radius: 100px;
    height: 150px;
    width: 150px;
}
main section.list-profile article > * {
    margin-bottom: 2rem;
}

main section.content-split {
    display: flex;    
    width: 100%;
    margin: 10rem auto;
}
main section.content-split > * {
    width: 50%;
    margin: auto;
}
main section.content-split div:last-child {
    text-align: right;  
}
main section.content-split img {
    width: 60%;
}



footer {
    display: flex;
    background: white;
    align-items: flex-end;
    text-align: center;
}
footer section {
    padding: 0 3rem;
    width: 50%;
}
footer form legend {
    border: none;
}
footer form div {
    text-align: left;
    border-bottom: 2px solid rgba(255, 238,104, .75);;
}
footer form input {
    border: none;
    width: 80%;
    height: 2rem;
}