.logomini{
    width: 20px;
    margin-top: -5px;
}

.btn-primary{
    background: linear-gradient(to right, #007991, #4aad8f);
    margin: 0 5em;
    align-self: center;
}
.btn-round {
    border-radius: 10px;
}

.bouton-dashboard{
    padding-top: 12em;
    display: flex;
    justify-content: center;
}

/**
 * Panel header
 */

.panel-header .form-control{
    color: #ffffff;
}

input.form-control{
    font-size: 0.95em;
}

/**
 * Profile result
 */
.profile-result{
    position: relative;
}

.profile-result .profile-photo{
    position: relative;
    display: block;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 2;
}

.profile-result .profile-card{
    margin-top: -20px;
    padding-top: 20px;
    text-align: center;
    z-index: 1;
}

.profile-location::before{
    content: "\f041";
    font-family: FontAwesome;
    margin-right: 5px;
}

.profile-personality{
    font-weight: bold;
}

.profile-personalitylist{
    list-style-type: none;
    padding: 0;
}

.profile-card .profile-fullname{
    margin: 0;
}

.profile-card .profile-header{
    margin-bottom: 10px;
}

.profile-card .profile-description{
    text-align: left;
}

.content.profile-container{
    margin-top: -280px;
}

.profile-container .profile-result{
    margin: 0 auto;
}

/**
 * Profile Photo editor
 */

.input-big.no-border .form-control,
.form-control.input-big{
    padding: 15px;
    font-size: 1.5em;
}

.photo{
    position: relative;
    overflow: hidden;
}

.photo input[type=file]{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-left: 100%;
    box-sizing: inherit;
    overflow: hidden;
    background: transparent;
    border: none;
}

/**
 * Tags
 */

ul.skills-list,
ul.hobbies-list{
    margin-bottom: 10px;
    padding: 0;
}

.tag{
    padding: 10px 15px;
    border-radius: 50px;
    background: #f2f2f2;
    display: inline-block;
    margin: 0 5px 5px 5px;
}

.tags-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content.content-no-card{
    margin-top: 0px;
    padding-top: 30px;
}