.logomini{
  width: 20px;
  
}

.btn-primary{
  background-color: #E00122;
  margin: 0 5em;
  align-self: center;
}

.bouton-dashboard{
  
  padding-top: 12em;
  display: flex;
  justify-content: center;
}