{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
       <h1>Bienvenue dans mon espace</h1>
        <p>{{ email }}</p>
        <a class="btn btn-primary" href="{{ path('logout') }}"> Déconnexion</a>
        <a class="btn btn-danger"href="{{ path('profile') }}">Mon profile</a>
        <a class="btn btn-danger"href="{{ path('account') }}">Mon compte</a>
    </div>
{% endblock %}