{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
       <h1>Mon profile</h1>

        <a class="btn btn-primary" href="{{ path('logout') }}"> Déconnexion</a>
        <a class="btn btn-danger"href="{{ path('home') }}">Retour au tableau de bord</a>
    </div>
{% endblock %}