{% extends 'base.html.twig' %}

{% block body %}
    <h1>Yea !! Bienvenue Datalents - Accueil !</h1>
    <hr>
    <a class="btn btn-primary" href="{{ path('login') }}">Connexion</a>
    <a class="btn btn-danger" href="{{ path('register') }}">Inscription</a>


{% endblock %}