{% extends "mail/base.html.twig" %}

{% block body %}
<h1>Vous avez demandé à réinitialiser votre de mot de passe</h1>
<p>Vous trouverez votre nouveau mot de passe ci-dessous</p>
<hr>
<p><strong>Adresse email:</strong>{{ email }}</p>
<p><strong>Nouveau mot de passe:</strong>{{ hash }}</p>
<hr>
<a class="btn btn-default" href="{{ url('login')}}">Connexion</a>
{% endblock %}