{% extends 'base.html.twig' %}

{% block body %}
    <h1>Votre Mots de passe à bien été changé</h1>

    <h3>Un mail avec vos nouveaux identifiants vous à été envoyé à l'adresse mail suivant: {{ email }}</h3>Un mail vous a bien été envoyé
    <hr>

    <a class="btn btn-primary middle" href="{{ url('login') }}">Connexion </a>



{% endblock %}