<h3>Tu as oublié ton mots de pass: pas de problème</h3>
<h2>Voic vos nouveau identifiants</h2>
<hr>
<p><strong>email:</strong>{{ email }}</p>
<p><strong>mdp:</strong>{{ hash }}</p>
<hr>
<a href="{{ url('login')}}">Connexion</a>
<p>Merci!</p>