<h3>You did it! You registered!</h3>
<h2>Now confirmed you email adresse</h2>
Hi tim! You're successfully registered.

{# example, assuming you have a route named "login" #}
To Confirme mail L login, go to:
<a href="{{ url('confirmMail',{'hash':hash,'email': email}) }}">confirmer</a>
Thanks!,